[2014-07-06 19:32] pspeter3 opened #4 "Add file upload for attachments"

[2014-07-06 19:33] pspeter3 opened #5 "Add tags"

[2014-07-06 19:33] pspeter3 opened #6 "Add stories"

[2014-07-06 19:33] pspeter3 opened #7 "Add projects"

[2014-07-06 19:33] pspeter3 opened #8 "Add tasks"

[2014-07-06 19:34] pspeter3 opened #9 "Generate github pages from documentation"

[2014-07-06 19:34] pspeter3 opened #10 "Publish npm"

[2014-07-06 21:52] #6 closed, assigned to pspeter3

[2014-07-06 22:00] pspeter3 opened #12 "Add ability to query for tasks via tag"

[2014-07-06 22:43] #5 closed, assigned to pspeter3

[2014-07-06 22:44] pspeter3 opened #14 "Add ability to query for tasks via project"

[2014-07-06 22:58] #7 closed, assigned to pspeter3

[2014-07-06 23:00] pspeter3 opened #16 "Documentation and tests for errors"

[2014-07-06 23:19] #9 closed, assigned to pspeter3

[2014-07-06 23:34] #12 closed, assigned to pspeter3

[2014-07-06 23:34] #14 closed, assigned to pspeter3

[2014-07-06 23:35] pspeter3 opened #18 "Add support for subtasks"

[2014-07-06 23:35] pspeter3 opened #19 "Add support for multihoming"

[2014-07-06 23:36] pspeter3 opened #20 "Add support for followers"

[2014-07-06 23:56] #8 closed, assigned to pspeter3

[2014-07-08 17:42] pspeter3 opened #22 "Add code coverage tests"

[2014-07-08 17:51] pspeter3 opened #23 "Add support for polite retry"

[2014-07-09 22:01] #22 closed, assigned to pspeter3

[2014-07-15 18:13] pspeter3 opened #26 "More thorough documentation for resources"
- [x] Attachments
- [x] Projects
- [ ] Stories
- [ ] Tags
- [ ] Tasks
- [ ] Teams
- [ ] Users
- [ ] Workspaces

[2014-07-15 18:13] #10 closed, assigned to pspeter3

[2014-07-15 18:16] pspeter3 opened #27 "Fix wiki docs to point to the right place in code"

[2014-07-15 18:17] pspeter3 opened #28 "Fail on code coverage less than 100%"
We currently have 100% code coverage. I would like not to lower that bar

[2014-07-24 06:33] #28 closed, assigned to nobody

[2014-07-24 18:15] #20 closed, assigned to pspeter3

[2014-10-07 22:24] #18 closed, assigned to pspeter3

[2015-01-02 20:01] marcboscher opened #41 "Basic authentication not working in browserified version"
Using the basicAuth client on the browserified lib (dist/asana.js) always sends an invalid authorization header.

This is caused by this bug: https://github.com/iriscouch/browser-request/issues/41

A workaround patch could be:

[code]

[2015-01-02 20:07] marcboscher commented on #41
It doesn't seem like the `auth.bearer` option is even support by the browser-request lib, so the oauth client will probably fail too (though I haven't tried it).

Maybe the superagent lib is a better option than request since it supports the browser out of the box.

[2015-01-04 22:33] slobak commented on #41
Thanks for raising the issue with browser-request; your workaround looks
reasonable, we'll look into this.

On Fri, Jan 2, 2015 at 12:07 PM, Marc Boscher <notifications@github.com>
wrote:

[2015-01-05 18:11] pspeter3 commented on #41
I think `superagent` may be the way to go since we want to support both the server and the browser.

[2015-01-05 19:21] marcboscher commented on #41
Been using superagent myself to interact with Asana. Working great, for example:

[code]

Using this to wrap superagent requests into bluebird promises (adds the promise() method):
https://www.npmjs.com/package/superagent-bluebird-promise
https://github.com/KyleAMathews/superagent-bluebird-promise/blob/master/index.js

[2015-01-07 22:50] pspeter3 commented on #41
I added a pull request https://github.com/iriscouch/browser-request/pull/42

[2015-01-11 19:15] marcboscher opened #53 "Publish to bower registry"
Please publish the browserified version to the bower.io registry

[2015-01-11 19:17] marcboscher commented on #53
Or at least, include the /dist folder with browserified output in the release file on github

[2015-01-13 04:36] slobak commented on #53
Thanks Marc, we'll get it published.

On Sun, Jan 11, 2015 at 11:17 AM, Marc Boscher <notifications@github.com>
wrote:

[2015-01-20 04:14] slobak commented on #53
We haven't yet set up auto-publish on bower, but we now automatically
publish the dist/asana.js file as part of a GitHub release:

https://github.com/Asana/node-asana/releases/download/v0.5.3/asana.js

Does that work for you?

On Mon, Jan 12, 2015 at 8:35 PM, Greg Slovacek <greg@asana.com> wrote:

[2015-02-26 21:54] marcboscher commented on #53
Just tried this in my bower file's dependencies and it's working

`"asana": "https://github.com/Asana/node-asana/releases/download/v0.7.1/asana-min.js"`

Only thing is bower will generate a .bower.json file because there's none, and obviously that generated file is a bit thin on info. But otherwise it's a good enough workaround.

#aa.commenter Marc Boscher
#aa.id 27963340695629

[2015-03-05 05:59] slobak commented on #53
Gotcha. I'm not familiar with bower enough to know, if we embed some info
(e.g. export bower package metadata somewhere) in that file will bower be
able to pick it up?

On Thu, Feb 26, 2015 at 1:54 PM, Marc Boscher <notifications@github.com>
wrote:

[2015-03-05 21:07] marcboscher commented on #53
Honestly, I'm no expert. But here is an example of another dependency hosted as a GitHub release.

from my bower.json
"chrome-platform-analytics" : "https://github.com/GoogleChrome/chrome-platform-analytics/archive/ca1.5.2.zip"

If you open the zip you will find an example of a bower.json pointing to its "binary" file. If instead of publishing the asana-min.js and asana.js as individual files you

[2015-03-05 21:26] slobak commented on #53
Sure, that seems pretty doable.

On Thu, Mar 5, 2015 at 1:07 PM, Marc Boscher <notifications@github.com>
wrote:

[2015-03-12 20:28] keenanpayne opened #68 "State not passed through when using PopupFlow"
The url being used to initiate the popup flow does not contain the state parameter, so the authorization process doesn't complete correctly.

(PopupFlow.prototype.startAuthorization)

[2015-03-12 20:28] keenanpayne commented on #68
@raysaagar

[2015-03-12 23:56] epelz commented on #68
I think I hit this bug too, and #64 fixed it. Give that a try? We should also merge that in.

[2015-03-13 00:05] keenanpayne commented on #68
Let me try that and see if it fixes it. Thanks!

[2015-03-13 00:32] keenanpayne commented on #68
Unfortunately that did not fix the issue on my end

[2015-04-29 02:57] dsernst commented on #16
Seems like most of this could be covered with suggestions to:

- include a `.catch(function (error) {console.log(error);})` block at the end of promises
- link to the official API page about errors: https://asana.com/developers/documentation/getting-started/errors

[2015-04-29 03:00] dsernst opened #71 "support for pagination"
Does this library support pagination? It looks like the request can be manually retried by passing the offset string as a param, but would it be possible to have the library do this automatically?

[2015-05-04 21:25] slobak commented on #71
Yes, it does support pagination. What do you mean by "automatically"?

Look at `Client.nextPage` or `Client.stream`, both of these methods interface with our request paging mechanism.

[2015-05-05 00:17] dsernst commented on #71
I needed to get all of the tasks for a project, where the number of tasks could be up to 300. I ended up writing this helper function to recursively traverse the linked list of pages and return all tasks as an array  (with very helpful assistance from @danthareja):

[code]

It would be nice if this library could handle this sort of querying automatically. Maybe I missed `Client.stream` , would thi

[2015-05-05 06:43] slobak commented on #71
`Client.stream` will give you a stream-based interface to the events, i.e. you'll get `data` and `end` callbacks which you can use to populate an array if that's what you need (though it's best when used to pipe to another stream).

The main source of our reluctance to provide your request from the start is that we don't want developers to just mindlessly slurp up all data and ignore pagination—th

[2015-05-06 01:22] #68 closed

[2015-05-06 01:51] keenanpayne opened #72 "CORS request rejected v0.7.9"
[code]

[2015-05-06 17:24] raysaagar commented on #72
we've made a fix that should unbreak the library.

[2015-05-06 17:24] #72 closed

[2015-05-16 21:30] marcboscher opened #74 "projects.findByWorkspace() not working for personal projects"
projects.findByWorkspace(ID-of-personal-projects-workspace) is timing out with an http 504.

But a GET to https://app.asana.com/api/1.0/workspaces/ID-of-personal-projects-workspace/projects/ in my browser or curl is working fine.

Using API key and basic authentication
I tried with two different accounts and got same result

[2015-05-16 21:39] marcboscher opened #75 "projects.findAll() giving error"
projects.findAll() is outputing a stack trace.

The underlying error is an HTTP 400 from Asana
"Need to specify a workspace or team to paginate!"

Using curl, getting the following correctly returns the entire project list across
workspaceshttps://app.asana.com/api/1.0/projects/

But adding a limit causes the same HTTP 400
workspaceshttps://app.asana.com/api/1.0/projects/?limit=50
"Need to specify

[2015-05-21 22:28] slobak commented on #41
I believe we addressed this workaround a while ago, I just re-verified this is no longer an issue.

[2015-05-21 22:28] #41 closed

[2015-05-21 22:59] slobak commented on #74
Hi Marc. Thanks for reporting; the reason is pagination. It's a known issue that you cannot paginate through personal projects, and the client library always paginates by default (because it's a best practice—at some point in the future we will remove the ability to make unpaginated requests).

I'm going to leave this issue open since it is outstanding. The workaround would be to get the client li

[2015-05-21 23:05] slobak commented on #75
This is a similar issue to https://github.com/Asana/node-asana/issues/74.

We are examining the viability of cross-workspace queries in the API and are strongly considering deprecating them because of the difficulty we have in supporting them properly - our datastore architecture makes it difficult for us to paginate them, but unpaginated requests do not scale.

We're sorry that this is problemati

[2015-05-22 07:15] slobak commented on #71
https://github.com/Asana/node-asana/commit/01114be321635ec04cbd301d8ef7cfed8a921b04

[2015-05-22 07:15] #71 closed

[2015-05-28 21:52] troyastorino opened #78 "ECONNREFUSED"
Assuming this is probably the wrong place to put this, but here goes:

We're using library version 0.6.0, and are getting an `ECONNREFUSED`. We haven't been getting this at all before, so I'm assuming that we're getting rate-limited by the Asana servers or something?

[2015-05-28 22:21] troyastorino commented on #78
Actually, `ECONNREFUSED` is just what we're getting in development environments. In production we're getting `ETIMEDOUT`.

[2015-05-28 23:21] slobak commented on #78
StackOverflow may be a better place to post this question; since it's unclear it's specific to the NodeJS library at all. Regardless of site, it would be helpful if you posted more details of the call you're making, and the output you're getting. It's very difficult for anyone to diagnose a problem based on just the presence of an error message without additional context.

If you upgrade to a new

[2015-05-29 00:49] troyastorino commented on #78
Ya sorry, knew this wouldn't be the right place, and it was very unlikely to be a problem with the Node lib, but wasn't sure where the right place to post was.

The problem is that some task creation calls aren't going through. It seems account related since we started getting the error without any code changes, and the error also appears locally (and also without any changes to code). Some creati

[2015-05-29 06:23] troyastorino commented on #78
Turns out it was an issue on the Asana side. According to support, some servers for handling API calls were down for a few hours today. Anyway, sorry for cluttering project issue list. As kudos I generally find the node library very nice and very cleanly written, so, great job! :+1:

[2015-05-29 06:23] #78 closed

[2015-07-10 09:23] nkint opened #81 "Retrieve tags broken in 0.9.1"
Hi. This piece of code works on  0.4.1 (enter in the promise then), do not work in 0.9.1 (enter in the catch). Error message is just: Invalid Request

[code]

But the 0.4.1 is missing the `teams.findByOrganization` function..

[2015-07-10 20:20] stockholmux commented on #74
I'm having a similar issue - even when I explicitly pass `{ limit : 0 }` I always get the response `Error: Cannot create Collection from response that does not have resources`, after a several second delay. No problems with non-personal workspaces.

I can get my personal projects with curl using `https://app.asana.com/api/1.0/workspaces/[my-personal-project-id]/projects`.

[2015-07-13 04:50] slobak commented on #81
This is because the client libraries now automatically paginate all query requests, and unfortunately you cannot paginate requests that span workspaces. This is a known issue. If you really need tags across all organizations, the workaround is to find all organizations, then request the tags from each of them.

[2015-07-13 22:45] slobak commented on #74
Ok, I apologize, the way the code works `limit: 0` won't actually provide no limit. Our intention is to move towards all requests being paginated, which means we're trying not to facilitate such requests through the client libraries. This will eventually either mean updating our backends to properly achieve pagination through the required resource, or removing such capabilities through the API. We

[2015-07-13 22:51] stockholmux commented on #74
@slobak  Thanks - I'll use the dispatcher directly.

[2015-07-22 17:27] trisrael opened #82 "Readme has wrong information for simple Basic auth script"
It's supposed to be `users.me` but it says workspaces

https://github.com/Asana/node-asana/blame/master/README.md#L54

[2015-07-23 17:36] slobak commented on #82
Thanks! Fixed.

[2015-07-23 17:36] #82 closed

[2015-07-24 15:35] radiodario opened #83 "Examples"
Could you provide some basic examples on how to create Tasks. I can see some advanced examples but no basic stuff on how to create tasks, etc.

Thanks

[2015-08-13 20:10] noonhub commented on #83
Thanks for the suggestion. We are working on more examples to publish in this repo and larger example apps to publish in their own repos.

[2015-08-24 05:30] ksikka commented on #74
+1

[2015-08-28 20:55] ambikads opened #87 "How to set/retreive custom external ID?"
Can't find any working example and the documentation in Asana API is not very helpful.

I tried adding the external ID and created the task (with other params not shown here) like below

````params['external'] = [ {id: '12345'}]````
````Asana.tasks.create(params).then (response) ->````

This did not show any errors. However, when I tried to retrieve this, I get a invalid request

[code]

[2015-09-05 02:23] fiznool opened #92 "Add support for setting request timeout"
There's currently no way of setting the request timeout. This could be achieved by exposing an option `requestTimeout` when creating the asana object, and passing this as a `timeout` param into the `request` lib.

[2015-09-09 04:33] andyg5000 opened #93 "Unable to call client.users.findAll() without arguments"
Whenever I call <code>client.users.findAll()</code> I get an Invalid Request

However, if I call <code>client.users.findAll(true)</code> I'm returned the full user list.

I assume this is a bug since I don't have to do this for other implementations of findAll().

Thanks in advance!

[2015-09-09 10:07] aMoniker commented on #92
`requestTimeout` added in https://github.com/Asana/node-asana/pull/94

[2015-09-09 14:34] ambikads commented on #87
Can someone please help? Any working example? Thanks in advance

[2015-09-09 14:41] agnoster commented on #87
Did you try `params.external = { id: '12345' }`? The custom fields should not be wrapped in an extra array, I think.

[2015-09-09 14:59] ambikads commented on #87
@agnoster That gives me a "invalid request" while creating the task.

    { [Error: Invalid Request]
      message: 'Invalid Request',
      stack: 'Error: Invalid Request\n  at InvalidRequest.AsanaError     (/bot/node_modules/asana/lib/errors/error.js:4:11)\n  at new InvalidRequest (/bot/node_modules/asana/lib/errors/invalid_request.js:5:14)\n  at Request._callback (/bot/node_modules/asana/lib/di

[2015-09-09 15:00] agnoster commented on #87
Can you include the actual errors text? You're console.logging the whole response and the errors value is only being shown as [Object] - if you `console.log(response.value.errors)` it should show up.

[2015-09-09 15:12] ambikads commented on #87
@agnoster ahh this is the message I see

````[ { message: 'external: Accessing external data requires authenticating with OAuth' } ]````

[2015-09-09 15:14] ambikads commented on #87
I use basisAuth, I will try with OAuth and update here. Thanks for your help.

[2015-09-09 15:14] agnoster commented on #87
Ah yes - I believe that's covered in the documentation, but external data (since it is only visible to the OAuth app that creates it) can only be created when using OAuth.

[2015-09-09 15:14] #87 closed

[2015-09-23 11:32] super-cache-money opened #96 "Authentication via Personal Access Token"
Since [API keys are now deprecated](https://asana.com/developers/feed/api-key-deprecation), it would be nice if this library supported the proposed alternative: Personal Access Tokens.

[2015-09-26 18:13] super-cache-money opened #97 "Cryptic error when using OAuth refresh token"
I'm trying to use a `refresh_token` to authenticate using OAuth. Here's what I've got:

[code]

Unfortunately, this throws the following error:

[code]

What's happening here? I'm pretty sure my auth details are correct, and the above code works fine when I supply an  `access_token` instead.

[2015-09-28 13:29] super-cache-money commented on #97
Figured it out. It's because I didn't specifiy `requestUri` when creating the client. Would be useful if a more descriptive error message was displayed. I assumed I could leave it out because of [https://github.com/Asana/node-asana/blob/master/examples/oauth/script/oauth_script.js](this example).

[2015-09-28 13:29] #97 closed

[2015-10-07 18:24] noonhub commented on #96
added here https://github.com/Asana/node-asana/commit/cded7e49c7d70770600cc6ccb35ec507034dff32

[2015-10-07 18:24] #96 closed

[2015-10-08 14:55] cristiandouce opened #100 "Released version does not match/follow master branch"
I don't get why this: https://github.com/Asana/node-asana/blob/v0.12.0/lib/client.js
Is not the same as this: https://github.com/Asana/node-asana/tree/master/lib/client.js

specially after seeing this commit IN master 2 days ago: https://github.com/Asana/node-asana/commit/412450483b1a6819f6e88c42cd0075dbaf62714c

When I do npm install, I have a lot of missing features.

Also, you have a typo in th

[2015-10-08 15:44] slobak commented on #100
That is definitely strange, perhaps something broke in our deploy process. We'll take a look.

[2015-10-08 16:49] cristiandouce commented on #100
@slobak Thanks! Let me know please when ready. Also npm package does not match FYI

[2015-10-09 04:45] slobak commented on #100
@noonhub you deployed recently for the new user mgmt features, and it looks a couple of version bumps happened - did anything strange happen during the workflow?

[2015-10-13 19:22] cristiandouce commented on #100
@slobak @noonhub any update on this?

Thanks!

[2015-10-13 23:21] noonhub commented on #100
@slobak I cannot remember why I bumped it twice in a row, that does seem odd but I am also not sure why that would cause master to diverge. I will try looking into this some more and see what might be happening.

[2015-10-13 23:44] noonhub commented on #100
@cristiandouce @slobak this should be sorted out now with `v0.12.1`. I am guessing that something failed with the last deploy. If this comes up again we will try to dig deeper and see what is going wrong in our deploy process.

[2015-10-13 23:44] #100 closed

[2015-10-14 00:51] cristiandouce commented on #100
@noonhub awesome, thanks!

[2015-10-15 23:04] noonhub opened #101 "Testing Github Issues -> Asana"
This should appear in the notes.

[2015-10-15 23:07] #101 closed

[2015-10-15 23:35] noonhub commented on #92
LGTM, merged. Sorry for the delay.

[2015-10-15 23:35] #92 closed

[2015-10-15 23:35] noonhub commented on #93
I am investigating this. Thanks for pointing it out. It is quite odd...

[2015-10-16 00:34] noonhub commented on #93
This is actually due to the client paginating all requests by default and /users is not able to be paginated unless you provide a workspace as cross-workspace queries cannot be paginated at this time.

The reason that this succeeds when you pass `true` is actually a small bug that has to do with JS types.

A suggested workaround would be to specify a workspace when making this call

    client.use

[2015-10-16 17:46] noonhub commented on #93
@andyg5000 I am going to close this issue as it is not really a bug. If you want to do cross-workspace queries for users (not recommended) then you can call the dispatcher directly. The `findAll()` method is not meant to be called with a boolean which causes odd behavior in the client and allows the non-paginated query.

Let me know if you have any more questions.

[2015-10-16 17:46] #93 closed

[2015-10-30 22:23] madskunker opened #104 "Bluebird Array Issue"
Unhandled rejection TypeError: expecting an array, a promise or a thenable

    See http://goo.gl/s8MMhc

    at MappingPromiseArray.init [as _init$] (/home/pubuser/www/node_modules/asana/node_modules/bluebird/js/main/promise_array.js:42:27)
    at Promise._settlePromiseAt (/home/pubuser/www/node_modules/asana/node_modules/bluebird/js/main/promise.js:579:21)
    at Promise._settlePromises (/home/p

[2015-11-05 06:59] slobak commented on #104
I think this is because your second closure (which logs "Got Response") does not return the tasks. Instead, it returns `undefined`. This is what's passed to the third `filter` closure and probably causing this error.

[2015-11-24 17:45] saiy2k opened #105 "CORS request rejected v0.13.0 on accessing Projects"
Hi,

Getting the following error on accessing `workspaces`, "Only for some users".

asana.js:4776 Unhandled rejection Error: CORS request rejected: https://app.asana.com/api/1.0/workspaces?limit=50
    at on_response (http://176.9.35.233:8080/asana/asana.js:8971:22)
    at XMLHttpRequest.on_state_change (http://176.9.35.233:8080/asana/asana.js:8954:7)

Browser: Chrome 46 (Incognito mode with No ex

[2015-12-01 07:44] slobak commented on #105
Thanks for reporting this issue. I'm having difficulty reproducing this, and also wondering why CORS has anything to do with which user would be involved. But hey, strange things happen.

Can you provide some more detail about the differences between the users? Are you using the same authentication mechanism for each? Is it Oauth, API Key, or Personal Access Token? Does one of them have more than

[2015-12-10 21:18] keenanpayne opened #109 "Receiving error regarding popup window using Oauth flow"
I'm using the popup Oauth flow, and after the `popup_receiver.html` pops up and hides again (eg: when an application has already been authorized), it throws this error into the console. It's not preventing me from using the application, but it always shows up.
<img width="1039" alt="screen shot 2015-12-09 at 4 10 05 pm" src="https://cloud.githubusercontent.com/assets/1534650/11728749/7231c1b0-9f40

[2015-12-17 10:15] saiy2k commented on #105
Hi,

Thanks for the response :+1:
 * I am using the same login mechanism for all users (OAuth)
 * Not sure if the user's having the issue is having 50+ workspaces. Will check with them and revert.

Tried this fix @ https://gist.github.com/agnoster/6e38a1c595102e892381 (Though, It seems outdated)

My App is hosted @ http://176.9.35.233/asana/index.html

The code is very simple and the core logic li

[2016-02-24 14:27] skinofstars opened #114 "Require packge.json and readline errors with webpack"
Hey.

We've been getting issues with using this webpack. Kinda came as a double error

[code]

Resolution to the first was to add `.json` to our webpack resolve extensions config.
[code]
This is all because teh dispatcher.js does `var VERSION = require('../package.json').version`

Second was kinda weirder, we added to our webpack config

[code]

We've got it running now, but it was a bit of a pain

[2016-02-24 14:40] thinklinux opened #115 "Keep getting - The `code` provided was invalid."
I'm doing the `Authorization Code Grant`. Here is what I do:

Creating an Asana client

[code]

Take the url to redirect the user
[code]

Use the code to request access_token
[code]

I keep getting this error
[code]

Am I missing something here or this should be the correct way of doing this?

[2016-03-01 06:47] slobak commented on #115
Are you sure the code you're sending is the exact one you're getting back from the authorization? That is the most likely cause of this error. The code generally begins with `0/`. Note codes expire after a relatively short time (like 15 minutes).

[2016-03-01 06:50] slobak commented on #114
Thanks for alerting us to this. We could change the way we snag the version to be more webpack-friendly somehow, any ideas as to how to do this without duplicating the version value from the `package.json` into code somewhere?

[2016-03-01 09:46] thinklinux commented on #115
I've made some screenshots for you with the code. The time interval is less then a second so I don't think expiration is the problem there.

![popup](https://cloud.githubusercontent.com/assets/326949/13423370/268798fe-dfa3-11e5-95ce-1e8c2e9207b1.png)

![nodejs](https://cloud.githubusercontent.com/assets/326949/13423289/a2d3a2d2-dfa2-11e5-9b3a-3362d905980f.png)

[2016-03-01 16:00] agnoster commented on #115
As Greg said, the code begins with 0/ - it looks like you're either
double-escaping or when you extract http params it's not unescaping
(hence the %2F encoding the /)

[2016-03-01 21:18] andrewholsted opened #116 "dispatchOptions not being respected"
I was trying to populate the `assignee` field when calling `client.tasks.create` and it doesn't appear the dispatchOptions are actually being used anywhere. Here's the relevant dispatch call

[code]

As a quick test, passing it inside of `dispatch.post` explicitly does work

[code]

[2016-03-01 22:59] agnoster commented on #116
The `assignee` should I believe be passed in `data`, not `dispatchOptions`? Have you tried that?

So something like `client.task.create({assignee: user_id})`

If that doesn't work I can dig deeper. There's some amount of auto-generation of code which means that not every option is always used, so while the `dispatchOptions` is ignored in `dispatch` I don't think that affects your specific use-case

[2016-03-01 23:38] andrewholsted commented on #116
@agnostic I am passing the assignee id in the data for the create. I was just hoping to expand the full object in the response.

[2016-03-01 23:44] Agnostic commented on #116
wrong user @andrewholsted ;P

[2016-03-02 00:07] andrewholsted commented on #116
Whoops. @agnoster...

[2016-03-02 00:51] agnoster commented on #115
How are you getting the code from your HTTP stack? Normally it should be parsed correctly for you, url decoding is pretty much required to make sense of your query params.

[2016-03-02 11:26] thinklinux commented on #115
@agnoster You were absolutely right. I didn't decode my query params. I have no idea how I missed that especially after Greg's response. Thanks a lot guys! Everything is working great now.

[2016-03-02 11:26] #115 closed

[2016-03-08 13:42] skinofstars opened #117 "Stopping an event stream"
Hi,

Just wondering how one would stop an event stream. Say, if you wanted to change it to watch a different project.

Thanks

[2016-03-08 13:45] skinofstars commented on #114
Hmm, perhaps as part of you build step, you just write it to a file? I'd say have a look at the way others do it, like pouchdb has a release.sh https://github.com/pouchdb/pouchdb/blob/2be37213b03c5d5da1d79bf8b714dd8fba8c09d1/bin/release.sh

[2016-03-11 23:31] slobak commented on #117
Event streams are tied to a specific resource. If you want to watch a different resource, you would just create a new stream and switch to using that.

[2016-03-11 23:31] #117 closed

[2016-03-11 23:46] slobak commented on #114
Seems like a reasonable idea, thanks. We have a gulp build file so that seems probably pretty easy to slip in. We'll put it on our list, though if you send us a PR for us to review/edit it might move faster.

[2016-04-03 14:15] brianhv commented on #114
I'm seeing these errors as well. The readline fix works, but adding .json to the resolve extensions list does not. I'm a complete webpack neophyte, so I'm not sure how to diagnose any further.

My error, since it's slightly different:
[code]

[2016-04-04 11:44] lazutkin opened #119 "Provide Typescript definitions for library"
Asana is listed as a _friend of typescript_ so I would like to see a typescript definitions for this lib.

[2016-04-21 07:04] arcl30 commented on #115
Hi Guys!

Can you please show an example on how to configure a Authorization Code Grant? Would be very glad if you'll help me with this one.

Thanks!

[2016-04-21 07:15] arcl30 opened #120 "How to set response_type to 'code' on Pop-up Flow ?"
Is there an example on how to configure response_type to "code" using Pop-up Flow?

[2016-04-21 11:14] thinklinux commented on #115
@arcl30 https://github.com/Asana/node-asana/tree/master/examples/oauth/webserver

[2016-04-22 06:34] arcl30 commented on #115
I am using the Pop-up flow and I've seen on the source code comments that all implementing class of BaseFlow can only use implicit grant. My question is, is there an authorization grant for Pop-up type?

Thanks for your help

[2016-04-28 22:59] slobak commented on #120
If you are using a popup flow or any in-browser flow, then the grant type you *must* use is the `implicit` grant, for security reasons. The `code` grant type requires sending the app secret to exchange the code for a token. You should never provide your app secret to the client-side code in your app because it would be easily compromised.

[2016-04-28 22:59] #120 closed

[2016-05-30 20:21] marcogallotta commented on #119
We'll happily accept a PR if anyone wants to contribute this.

[2016-05-30 20:52] pspeter3 commented on #119
@lazutkin This is something I have wanted for a long time. I think we are more likely to rewrite the library in TypeScript at this point. Another problem right now is that we do not have complete information on the return type for API responses. I would recommend checking out the Asana API meta project.

[2016-06-20 11:49] harshu108 opened #121 "No provision for specifying HTTP proxy for machines behind firewall"
I am trying to use this module from a machine that is behind a firewall. I need to provide proxy for making requests. I am unable to see any provision to set proxy for the request.

The node module uses 'request' as base to make the request. The request module has in-built proxy support. It would be great if you could just provide a setter method for the same.

[2016-06-21 01:33] marcogallotta commented on #121
This is a good suggestion. It might be best for our methods to take `requestOptions` and add them all as parameters to request. This would allow people to configure proxies, # of http agents, or anything else.

We aren't going to prioritise this right now, but would gladly accept a PR if you're interested in contributing.

[2016-06-21 06:11] harshu108 commented on #121
I would gladly do it for you, just need little context about how you want to get it done...Your design is little complicated, a little context would help.

[2016-06-21 18:25] slobak commented on #121
The design is meant to make it easy to apply options to all request by default while still preserving the flexibility and forward-compatibility to support other options, or per-request overrides.

Protocol-related things like this should follow this pattern, and thus they should be part of the configuration of the `Dispatcher`. If you look at the `Dispatcher` constructor you'll see it takes option

[2016-06-21 20:44] slobak commented on #115
Popup flows run in the browser, which means non-secure client code. You should not store or use secret keys from your client code (which is accessible to anyone), so that means you cannot use the server-side flows like the authorization grant. The implicit grant exists specifically for browser-side flows like the one you are using—we provide both a Popup and a Redirect version, but they both use t

[2016-08-03 20:54] joeinnes opened #122 "Update errors"
Long story short, I'm trying to write my own Asana/iDoneThis integration.

I've got as far as passing Asana's completed tasks to iDoneThis, and now I want to set a custom field to use to exclude these from future sweeps.

Here's my code, but it doesn't seem to be adding the 'external' data:

tasks is the array of tasks.
[code]

I get 'Unhandled rejection Error: Server Error' when running the code

[2016-08-03 21:02] slobak commented on #122
Why are you stringifying the JSON data, i.e. why is `extStr = JSON.stringify(...)` and not just `extStr = { ... }`? I believe that is your problem.

[2016-08-03 21:41] joeinnes commented on #122
Because I get a different error: Unhandled rejection Error: Invalid Request

This is the current code giving me the error above:

[code]

[2016-08-04 02:22] slobak commented on #122
Interesting. I wonder if the request is failing because the `task.id` already exists for another task in Asana? There is a uniqueness constraint there.

If you add a `.fail(...)` handler you may be able to get more detailed information. Whenever we return a 400 we generally include a message about the field that had a problem and what the problem was.

[2016-08-04 02:35] slobak commented on #122
Another thought (from @praecipula) is that you may not have initialized your client with Oauth? External data is per-Oauth-app. But if you don't use Oauth, you cannot use the feature. Either way, the error message you're getting should be more revealing.

[2016-08-04 07:20] joeinnes commented on #122
I was on Oauth, but should have thought about it more carefully and added the `.catch()` myself. Anyway, it told me that the ID needs to be a string. Coerced it, and now working beautifully. Thanks for all your help!

[2016-08-04 07:20] #122 closed

[2016-09-05 19:29] brianhv commented on #114
After learning a little more about webpack, I was able to solve the json issue here. It was just a matter of using the json-loader. I added the following to my webpack config after installing `json-loader`.

[code]

Might be obvious to others, but it took me a while to figure it out...

[2016-10-04 08:37] joekim commented on #119
Any update on this? The idea was to generate a new typescript asana API using the meta project?

[2016-10-04 22:24] marcogallotta commented on #119
Nothing has on our end. We'd happily accept a PR, but we aren't able to prioritise this ourselves.

[2016-10-12 15:23] thetwosents opened #125 "Using addProject route with newly created task list (template duplication)"
Having an issue, don't know if API related and wondering if anyone else is having issue. I'm trying to duplicate a list of tasks from one project into a newly created project, and put them in the same order. So far, I am querying from template, creating new project, then creating the tasks in the new project, then using addProject route to update task location with ```insert_after```. The result i

[2016-10-14 00:00] markchua commented on #125
Hi, it would help if you can post your script code to make sure there isn't an issue with how that is set up.

[2016-12-01 15:42] davidyang opened #127 "Preferred way to get node-asana to work in Google Apps Script?"
Hey team - big fan of Asana and have made some cool integrations with Google Apps Script (with a small client I wrote myself).  Was considering making the node-asana library work instead and would appreciate any thoughts on best way to do it.

My thought is to either allow configuring another dispatcher that uses Google's UrlFetchApp or to build something like google-request that can be subbed in

[2016-12-06 05:49] slobak commented on #127
Hi David - thanks for your participation! That would be sweet to be able to import our JS client library into Google Apps Script.

Cc'ing @praecipula for his thoughts too

The Dispatcher does more than just make requests, it wraps a bunch of functionality. So overriding / extending it would probably create complexity or duplicated functionality which is less desirable.

I think the thing that we w

[2017-01-18 16:19] superquest opened #128 "examples/oauth/chrome_extension doesn't run"
I encountered 3 problems running this example:

1) Empty README.md. Should probably add a word about how to run gulp ... maybe describe what this example demonstrates?
2) Code expects `asana.js` to be copied into "dist" directory, but it isn't. This results in a "Uncaught ReferenceError: Asana is not defined" error.
3) I also encountered a "Denying load of chrome-extension://ealgjjlepahaihgcoomhpi

[2017-01-19 05:17] superquest commented on #128
#2 is resolved by the following:

- `npm install && gulp` at the root of the project to build a copy of `asana.js` at `dist/`.
- `npm install` and `gulp` from `examples/oauth/chrome_extension`, in order to copy local asana from `dist/` to `examples/oauth/chrome_extension/src/` and from  `examples/oauth/chrome_extension/src/` to  `examples/oauth/chrome_extension/dist/`, respectively.

Automating th

[2017-01-19 06:53] superquest opened #129 "client.tasks.findAll() fails by default"
I have a script like this:

This fires a GET request to `https://app.asana.com/api/1.0/tags?limit=50`. The response contains this error:

             'message': 'Need to specify a workspace to paginate!'}]}

So there's some problem with `?limit=50` query string and not specifying a projectId ...

[2017-01-25 01:23] jjschnei commented on #129
It looks like the issue is with the request, not the limit.  You need to specify a workspace id from which you want to get all of the tags.  The GET request would be `https://app.asana.com/api/1.0/workspaces/123456789/tags?limit=50`.

A tag exists in a single workspace or organization.  See the Asana tags documentation for more details:  https://asana.com/developers/api-reference/tags.

[2017-01-25 01:26] #129 closed

[2017-02-13 20:03] rlucha commented on #114
Sorry, why does adding the following code solve the issue? @skinofstars, did you figure it out?
<pre> node: { readline: 'empty' } </pre>

[2017-02-23 12:14] tvvignesh opened #132 "Typeahead method using SDK"
Hi. May I know how to use the typeahead API: https://asana.com/developers/api-reference/typeaheads using the node.js SDK?

I did not find it in the wiki and thus I am not sure how to use it.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/182694763554707/279349353297362)

[2017-02-23 19:16] ffxsam opened #133 "No proper way to catch a call after bearer token is expired?"
When I try to perform an operation when the bearer token is expired, I get this message on the server:

[code]

Despite there being `console.log` statements afterwards, they're never reached. The process flow is exited, no errors are thrown that I can catch. From a programmatic standpoint, this isn't very useful, as I'm not able to properly handle this exception.

[2017-02-23 19:26] ffxsam commented on #133
Here's what I would expect as a typical flow:

[code]

[2017-02-23 20:26] ffxsam commented on #133
Also I hope that, since this is waiting for input, this isn't leaving extra processes hanging around on the server. That would be bad.

[2017-02-24 19:14] periodic commented on #132
It's supported on the workspaces client.  You should be able to access it there:

https://github.com/Asana/node-asana/blob/master/lib/resources/gen/workspaces.js#L94

[2017-02-24 19:16] Asana-Github commented on #133
➤ Drew Haven commented:
Does the code support await?  I've always used it with promises.  In that case the exception and message may be occurring in another thread and you'll have to catch the exceptional state of the promise and not just follow on the success case.

Does that make sense?  Does that apply in this situation?

[2017-02-24 19:30] ffxsam commented on #133
Using promises or await makes no difference. The package still acts as if I'm using it like a CLI, and prints a message to the console, asking for user input. Here's some test code I put together:

[code]

Doesn't matter what I do, `client.projects.findByWorkspace` (or any other method call) never really throws any kind of error that can be caught with try/catch. It just prints to the console, whi

[2017-02-24 22:31] slobak commented on #133
The comments for the `useOauth` method indicate that you can specify the oauth "flow type" that should be used in order to obtain credentials in the event the server returns a `401`. The default behavior if no flow is specified is to autodetect, and for code running on the server this will run the `NativeFlow` which you are experiencing. You should be able to pass `flowType: null` and then, since

[2017-02-24 23:35] ffxsam commented on #133
@slobak Ahh, gotcha. Thanks, I'll give that a shot!

It seems like there would be room for one more check in this function:
https://github.com/Asana/node-asana/blob/8a99170f142127e7ddc2bd9ed1bb98f4a823b27c/lib/auth/auto_detect.js#L14-L34

which would somehow see that `process.env` exists, but also test to see if we're running as a web server rather than a CLI node process. Maybe checking `process.

[2017-02-27 06:25] tvvignesh commented on #132
@periodic: got it. thanks.

[2017-02-27 06:25] #132 closed

[2017-03-18 22:36] mattnp12 opened #135 "Invalid Request When Specifying Project"
When I request all the tasks specifying just an assignee and a workspace, I get a normal response.  However, when I add a project ID, I get an error.  Really have no idea what could be causing it.
[code]
[code]

    at InvalidRequest.AsanaError (/Applications/MAMP/htdocs/sprint_analysis/node_modules/asana/lib/errors/error.js:4:11)
    at new InvalidRequest (/Applications/MAMP/htdocs/sprint_analysi

[2017-03-24 22:21] jonathan-dejong commented on #114
Thank you @skinofstars for this issue!
I just started my first react project with asana and immediately ran into the readline issue.
Adding it to node in the webpack config after an eject (cry) on build-react-app and it works.

@rlucha here's what build-react-app says in the comments:
Some libraries import Node modules but don't use them in the browser.
Tell Webpack to provide empty mocks for them

[2017-04-03 02:42] jpike88 commented on #4
I'm guessing this isn't happening any time soon.

[2017-06-15 02:43] EyalRonel opened #140 "endless page iteration when using steams with "limit > 15" option"
The following code executes endlessly. setting the limit parameter to be 15 or lower stops the stream once it's reaches the last results page (internally)

[code]

[2017-06-22 14:44] rdewolff opened #141 "Stream on all projects"
Hello

Am trying to achieve the following : for a whole workspace, when a task is created, I want to check a custom field and add some incremental ID to it.

Problem: what's the efficient way to do this?

I have approached the solution with a code similar to the following, but it's triggering way too many calls :

[code]

How can I accomplish this??

[2017-06-22 16:01] Asana-Github commented on #141
➤ Greg Slovacek commented:

Hmm this wasn't in the Tracked Developer SLA project for some reason?

[2017-06-22 16:31] rdewolff commented on #141
I don't understand your answer @Asana-Github, could you be more specific please?

[2017-06-22 18:05] slobak commented on #141
Sorry, that was part of an internal conversation about tracking this issue, didn't mean to confuse you!

Your general approach is actually pretty reasonable given what you're trying to do. We don't currently support "workspace-level" event subscriptions, so as you've seen you have to subscribe to all projects individually (and would probably also want to subscribe to new projects as they are creat

[2017-07-04 08:55] rdewolff commented on #141
Thanks for your answer @slobak. We do want to have this feature enabled in all the projects in our workspace.

The main problem is that the code below is triggering way too much events, as if all the events were registered many times. Any idea why? Could be my code or a bug in the library?

[2017-07-05 18:44] praecipula commented on #141
You will likely get many events on task creation - there are actually several things that change on the project when a task is created, and each event signals one aspect of this string of changes. Testing it out, I got 4 events when creating a completely blank task in a project:

1. 2 of "type":"project", "action":"changed" events. These represent the project itself having modified properties, for

[2017-07-06 19:05] guisouza opened #142 "Better error messages"
requests like this one :
```/sections/357886406511632/tasks```
which are invalid since this section belongs to a project which is not in the board format, returns this error :
[code]
which could be :
[code]

if we just change `invalid_request.js` to send the message forward .

any concerns on it ?  there are someone maintaining this project ? I can submit a PR for it .

[2017-07-06 22:20] praecipula commented on #142
Hi there,

Feel free to send a PR! We shifted focus for the past few months away from our client libraries in general, and had a bit of a snafu with some internal process in particular causing us to be not as responsive as we'd like to be 👎  but we're shifting focus back to our libraries soon and have fixed our snafu 👍  so are better able to support improvements and PRs. I'm not sure when we'll ne

[2017-07-12 21:39] rdewolff commented on #141
Hey @praecipula

Thanks for your input. Unfortunately, with the code below, I get the following results :

[code]

As if the loop am doing is registering all event for all project and it triggers them all the time (O^2).

Any idea what's wrong in the code?

[2017-07-14 20:24] praecipula commented on #141
_scrolling scrolling scrolling_ Yeah, that certainly seems like more than 3-4 events per creation 😮. I'm out of the office until mid-next week, but @rdewolff I'll follow up then to see if anything sticks out to me!

[2017-08-08 19:35] vjpr opened #143 "In the Node.js example what is the correct way to prevent having to authenticate via an url every script restart?"
What is the correct way to obtain the `access_token` in a `NativeFlow` auth?

[2017-08-08 19:39] vjpr commented on #143
So seems like I can get it via:

[code]

[2017-08-09 00:04] praecipula commented on #143
I think I follow what you're asking here, let me try to send you along the right path!

When you go through the oauth flow, Basically the idea is that there are 3 actors: the user, your app, and Asana. The flow you're likely looking for is [here](https://asana.com/developers/documentation/getting-started/auth#authorization-code-grant).

1. You send the user to a URL that Asana owns; that is, your

[2017-09-30 21:00] giorbismiguel opened #144 "Change response_type the toke to code"
How i change when i use :

client.useOauth({
   flowType: Asana.auth.PopupFlow
});

of toke to code?

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/182694763554707/442144838712062)

[2017-09-30 23:55] giorbismiguel opened #145 "Error: access_denied: The popup window containing the authorization UI was closed by the user."
When my App redirect to the Redirection URL forever i get the message: Error: access_denied: The popup window containing the authorization UI was closed by the user.

This error is when i try to test the example: examples/oauth/webserver

Thanks

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/182694763554707/442151971830596)

[2017-10-02 18:46] #145 closed

[2017-10-04 00:09] praecipula commented on #144
Hey there,

Our client library makes the assumption that all browser based auth methods will use the [implicit grant](https://asana.com/developers/documentation/getting-started/auth#implicit-grant) flow, because there's no browser client-side OAuth flow that is more secure. The authorization code grant flow requires there to be a machine somewhere that exchanges the code *and the app's client secr

[2017-10-04 00:09] #144 closed

[2017-10-05 14:25] MoorsTech commented on #133
@ffxsam did passing `flowType: null` to useOauth work for you?
Only way I managed to "catch" exceptions was by checking for timeouts like `client.users.me().timeout(5000).catch(function(){console.log("CATCH PROMISE")})`. I happen not to care about the type of exception but that can't possibly be the intended way of catching exceptions.

[2017-10-05 15:29] ffxsam commented on #133
Sorry I can't be of more help! This was quite awhile back, and I'm no longer working on that project.

[2017-11-05 10:55] rdewolff commented on #141
Anyone has an update on this?

Either there is an issue in my code or logic, either there is a bug in the `node-asana` lib. I'd be very happy to fix this so we can use this!

Or maybe you know another way to generate auto ID's of a custom field, for tracking user issues for example (1, 2, 3, 4, ...)

Thanks :)

[2017-11-05 19:38] Nolanus commented on #116
Any progress on that, as dispatchOptions still seems to be ignored...

[2017-11-06 12:33] pegasussanjay opened #146 "client.tasks.findAll() method not returning all tasks."
client.tasks.findAll() method not returning all tasks (subtasks and sub-subtasks). Am I missing something to pass in argument? I have searched on API and Documentation but no luck!
Is any other way to get all tasks (tasks, subtasks and sub-subtasks,...)?

[2017-12-01 23:23] victor-cano opened #147 "Chrome extension error"
Hi guys, I am following your example of login for a chrome extension, and it's giving me the below error, could you help me please. Thanks.

![image](https://user-images.githubusercontent.com/13294935/33507748-19edbc56-d6bc-11e7-98f3-a1fde7ebc7fc.png)

[2017-12-04 17:16] arielshulman commented on #140
This error happens to me too (by the copy function - client.projects.tasks(project_id)).
when I limit to 15 everythings is fine, otherwise, >15, it gets into infinit loop with last data (task) received.
Maybe it relates to this commit 40ae0c283eda4beb2952b034a9729f06f01c2b05 ?

Any updates on this issue?

[2017-12-09 23:09] arielshulman commented on #140
Well. it seems that the magic number of 16 is because highWaterMark of streams is that by default.

it seems that the latest merge that I've mentioned fixed this issue but the npm package has not been updated.

@pspeter3 @slobak maybe you could help?

[2017-12-20 08:51] TuomasTammi opened #148 "Unhandled rejection Error when refresh token is invalid"
When refresh token is invalid there is an unhandled rejection error.

For example if you run the code below by supplying valid credentials and a valid refresh token it performs correctly. Output is `Success!`.

[code]

If you supply an invalid refresh token, then instead of getting the expected output `Error!`, that catch block is never reached. There is only this text in the console

[code]

Usin

[2018-01-10 00:41] theaeolianmachine commented on #146
Hi @pegasussanjay, sorry for the delay - we missed some issues showing up in our tracker.

This is intentional, as the `/tasks` endpoint (which is requested via the `client.tasks.findAll()` call) only returns the compact records on the tasks in a provided project or tag (optionally filtered by assignee, workspace, and other fields). You can see the documentation for that endpoint [here](https://as

[2018-01-10 01:00] theaeolianmachine commented on #147
Hi @victor-cano,

I'm not certain what example you're using - could you point me to a link of it? However, it looks like you're using [OAuth](https://asana.com/developers/documentation/getting-started/auth)?

If so, the error seems to point to the `redirect_uri` that you are passing in the application is not the `redirect_uri` that you've registered in the [Apps tab under your account settings in

[2018-01-13 09:50] theaeolianmachine commented on #147
Hi @victor-cano; I'm going to close this out for now, but if you're still running into issues let us know and we'll reopen it.

[2018-01-13 09:50] #147 closed

[2018-01-13 09:56] theaeolianmachine commented on #146
Hi @pegasussanjay, let us know if you have any more questions - if you feel this isn't resolved, let us know and we'll reopen the issue. Thanks!

[2018-01-13 09:56] #146 closed

[2018-01-16 20:02] praecipula commented on #148
➤ Jeff Schneider commented:

Merged pull request.

[2018-01-17 19:01] theaeolianmachine commented on #148
Closed by #149

[2018-01-17 19:01] #148 closed

[2018-01-29 22:14] praecipula commented on #141
Getting back to this after some time (sorry!) I did notice something. Maybe it's a benefit of fresh eyes?

Given your snippet of code, I think it's possible that you're actually setting up many event streams for a single project See the comment below:

[code]

In the code as given, `projectId` should be undefined (and would therefore error out). I suspect that this gets defined to a single ID some

[2018-01-29 22:14] #141 closed

[2018-02-08 17:56] gustavorochakv opened #153 "Missing sections API"
The sections API is not available on the node package.

The method currently available for handling sections in the node package (as colon terminated tasks) is marked as deprecated on the developer documentation.

it is possible to generate a sections.js file from the api-meta repository.

[2018-07-20 15:02] ewallen88 opened #156 "webhooks.getAll "Forbidden" Error Has Just Started Appearing"
Just in the past month or so I've started getting an odd "Forbidden" error soley on the client.webhooks.getAll method. Here's my code:

var client = asana.Client.create().useAccessToken(creds.asanaToken);
client.webhooks.getAll(creds.workspaceId)
        .then(function (response) {
            return response;
})

And here's the error I'm getting:

Unhandled rejection Error: Forbidden
    at Forbi

[2018-07-20 16:43] praecipula commented on #156
➤ Joe Trollo commented:

We've seen this before: they've lost access to the resource on the webhook, so the default field expansion hits a 403 when trying to include the resource in each webhook. They can either (1) wait up to eight hours for us to send the heartbeat at which point we see they've lost access and delete the webhook, or (2) use opt_fields to explicitly not include the resource in th

[2018-07-20 17:33] praecipula commented on #156
➤ Joe Trollo commented:

I agree

We wouldn't send anything. Every time we try to send a webhook, we check a number of things: are the credentials still valid? Is the resource untrashed? Is the resource visible to the user? If any of those are not true, we trash the webhook. Then it would no longer appear in these results, so it wouldn't cause a 403. I mention the heartbeat because, if nothing els

[2018-07-20 17:48] praecipula commented on #156
➤ Matt Bramlage commented:

Ah, goooot it. It looks like the webhook will trash itself under these conditions:

  * Handshake failure
  * Repeated delivery failure after some period (7 days)
  * Access control failure when the remote job triggers (https://github.com/Asana/codez/blob/next-master/apps/asana/jobs/webhook_remote_job.js#L83)

and that's pretty much it.

So this should only happen as lo

[2018-07-20 17:53] praecipula commented on #156
➤ Matt Bramlage commented:

[Also, just to note: we got ensnared again by the fact that Unito is syncing these comments - that's one reason we've moved to internal discussions happening in the subtasks on these tasks that get multi-homed into [⏳New Devsla](https://app.asana.com/0/642495334379568/list). I'm deleting the comments by hand in the client library repo, which I think will work, but we mi

[2018-07-20 18:14] praecipula commented on #156
Hey @ewallen88 ,

Yes, it turns out there is a circumstance where this is expected behavior, even if it's a bit unintuitive. If you lose access to the resource, and the resource is unchanged (so there are no webhook events to deliver), during the time that you still have an untrashed webhook and the resource is gone for you you might see this happen. The issue here is that for access control, when

[2018-07-20 18:14] #156 closed

[2018-07-20 18:37] ewallen88 commented on #156
Thanks @praecipula for the write-up.

[2018-07-20 19:04] ewallen88 commented on #156
Actually @praecipula I'm seeing some more bizarre behavior with this one that I don't think is exactly what you described above.

I have the following task in a Project: https://app.asana.com/0/600956486758204/584556243857702

I can create a webhook on the task ("584556243857702") with no issue, but when I try to create it on the project ("600956486758204") is gives me the same "Forbidden" error.

[2018-07-20 20:49] praecipula commented on #156
➤ Hussain Jaffery commented:

Just a note, I merged in the webhooks read endpoint migration this morning. Shouldn't affect anything, but worth keeping an eye out, if anyone has any issues with /webhook/ or /webhooks/

[2018-07-20 20:59] praecipula commented on #156
It's certainly possible! When you try to create a webhook:

- With the same user
- On the same resource
- With the same target (callback address)

you can get a Forbidden response. In this circumstance, take a look at the response body: it will read

"Duplicated webhook. You already have an existing webhook for the given resource and target. Delete the old one before creating another."

[2018-07-24 16:02] ewallen88 commented on #156
Thanks @praecipula you were right about that, thanks! I'm back up and running

[2018-07-31 05:50] andrelung opened #160 "TypeError: resources.ProjectMemberships is not a constructor"
Not sure, if this is related to the oauth_webserver.js example or the client.js, but I keep getting this error when trying to get the oauth working:
` ~/dev/node-asana-master/examples/oauth/webserver
$ node oauth_webserver.js
Listening on port 5000
TypeError: resources.ProjectMemberships is not a constructor
    at new Client (/Users/al/dev/node-asana-master/lib/client.js:49:29)
    at Function.Cl

[2018-08-13 19:27] Puthranps commented on #16
This issue should be closed as my pull request added the .catch() method.

[2018-08-23 20:36] joetrollo commented on #160
Sorry about this issue, it seems that an individual automated test failed but Travis still marked the suite as passing, which is how this bug was merged in. It should be fixed in the [latest release](https://github.com/Asana/node-asana/releases/tag/v0.16.0), though. Can you confirm whether the problem persists?

[2018-08-23 20:36] #153 closed

[2018-08-23 20:54] #19 closed

[2018-08-23 20:54] #23 closed

[2018-08-26 02:20] jfo8000 opened #164 "OAuth library access_token not getting passed in, causing '403 Not Authorized'"
I am having trouble using the OAuth libraries making a second call to get client.users.me.  I traced the error down to the fact that no Authorization: Bearer headers were being passed in the GET request.

Digging deeper, it looks like the OAuthAuthenticator class is putting the headers in, but then they are getting blown over by these lines of code in the dispatcher.  This may be a recent change?

[2018-08-28 19:45] #164 closed

[2018-08-29 18:07] pruales opened #166 "Get 401 error when using personal access token"
I can use my token on postman and get a 200, but I get a 401 when I use this package. I followed the same style as the events example so I'm not sure why this is happening.

[2018-08-29 21:14] jjschnei commented on #166
Hi @pruales, my guess is that the issue is being caused by a bug that is overwriting the headers (which includes your token).  We [recently resolved the issue](https://github.com/Asana/node-asana/pull/165), so I recommend that you update to v0.16.1 of the client library.  Hopefully, this will solve it for you.

[2018-09-04 13:05] jordanskomer commented on #166
@jjschnei - I'm experiencing this issue as well and by the looks of 0.16.1 that should fix it. However, it doesn't appear that 0.16.1 was pushed to npm yet. Not sure if you are aware of this or not, just letting you know so it's on your radar. Thanks for all the hard work!

[2018-09-04 16:07] joetrollo commented on #166
Hi @jordanskomer, sorry for the trouble! It seems Travis [claimed the build was successful](https://travis-ci.org/Asana/node-asana/jobs/421732579) but never deployed to NPM. I've done a manual deploy now and [v0.16.1 is available](https://www.npmjs.com/package/asana/v/0.16.1). Can you try again and confirm that you're able to download the new version and that it fixes the issue?

[2018-09-04 17:05] jordanskomer commented on #166
@joetrollo - Works like a charm. Thank you!

[2018-09-04 18:13] #166 closed

[2018-09-05 01:55] 0xcaff opened #167 "Lodash Security Advisory"
`npm audit` is complaining about the version of lodash node-asana uses.

[code]

[2018-09-10 16:03] JohannBoch22 opened #168 "readline error using create-react-app"
Hey, these are the commands I ran to start my new project
`mkdir Projects`
`cd Projects`
`npm create-react-app my_app`
`cd my_app`
`npm install asana --save `
`npm start`

I then tried to import the asana package into my app.js file:
`import * as Asana from 'asana'`

This is where an error was thrown on localhost:

check out my repository: https://github.com/JohannBoch22/asana-error

pls help

Joh

[2018-09-10 18:45] jjschnei commented on #167
Thanks for pointing this out. We'll look into it.

[2018-10-01 18:21] praecipula commented on #167
Thanks for letting us know this was somewhat urgent! It should be fixed now as of v0.16.6

[2018-10-01 18:21] #167 closed

[2018-12-26 22:21] iimez opened #172 "story changed events not emitted when listening on project events"
[code]
No event is emitted when editing a comment in asana. I do receive events as expected on create/delete. Not sure if this is actually a problem with node-asana, but found no better place to post.

[2019-01-07 20:51] #172 closed

[2019-01-07 21:40] praecipula commented on #168
Hey, sorry I neglected to close this. The commit referenced above (https://github.com/Asana/node-asana/commit/55b6461e570758ef5fe089a82d9df1f3971ef56f) should have fixed the problem; feel free to ping/reopen if it didn't.

[2019-01-07 21:40] #168 closed

[2019-01-29 11:10] iimez commented on #172
Hello @jjschnei, thanks for your response! :)

Just in case this issue gets further attention: My use case was trying to keep a database of all tasks including related conversation locally. For that I'd like to store the latest version of a comment, not the original one. Is there any other way to receive events on edited comments or do I need to poll for changes?

[2019-01-29 20:16] jjschnei commented on #172
Thanks for sharing your use-case.  What's the underlying need that requires you to keep a local database of all tasks?

Unfortunately, there is currently no way to get an event when a comment is edited.  While comments do have an `is_edited` field, it's not currently possible to determine when a comment was edited or if it has been edited more than once.  I've discussed this with the API team.  Wh

[2019-02-18 12:24] iimez commented on #172
That's great to hear! For now I'll just poll every few hours or so.

I've been using the API to sync the state of all Asana project tasks with a GitLab project's issues primarily because I was looking for a way to
- keep references of code changes to tasks
- complete tasks via git commit message

Basically my team loves Asana (rightfully so!) and I love keeping track which code needed to be change

[2019-02-20 10:46] cw-sebastian commented on #121
Also need this feature.
Pull request is on its way :)

[2019-03-13 09:49] nairihar opened #176 "BUG: Dublicate values when using collection.stream"
Sometimes `collection.stream().on('data'.....` returns dublicate data.

[2019-03-13 20:59] rossgrambo commented on #176
Hey @nairihar , due to how pagination is implemented on our stack, this is unfortunately unavoidable. The system basically remembers the last item location that you paged to (or the stream paged to), and if the items has moved, this stream will find the same object.

Example:
Data: [1,2,3,4,5,6,7,8,9,10]
Stream: [1,2,3]...

Stream requests more data >>
Data: [1,2,**3**,4,5,6,7,8,9,10]
Stream: [1,2

[2019-03-14 07:09] nairihar commented on #176
Thanks, I have already fixed it. I'm using `Map` to handle duplicates.

[2019-03-14 07:09] #176 closed

[2019-05-20 23:20] tomdee commented on #74
@slobak  Does asana still have this issue on its backend? Is there a way to find out if a project is personal or not by using the API?

[2019-06-16 21:08] dugajean opened #177 "Can't use this library - This dependency was not found: * fs"
Whenever I try to build my Javascript with Webpack, it fails with this error:

[code]

I tried installing the required dependency with `yarn add fs --dev` and `npm install --save fs`. They practically the same so the error still persisted anyway.

The way I tried to import is with a standard `import Asana from 'asana'` and `const asana = require('asana')`. Neither worked.

I'm trying to use this l

[2019-06-18 21:57] rossgrambo commented on #177
Hey @dugajean !

Try the solution I posted here: https://forum.asana.com/t/node-library-requires-lib-unavailable-for-a-web-use/39891/4 . We're aware of this issue, but not prioritizing it, as the solution was getting muddy and theres currently a workaround.

Let me know if this doesn't fix it for you!

[2019-07-09 21:48] SDP190 opened #179 "Support for the new resource identifier 'gid' of type String, instead of the old 'id' of type Number"
According to the docs gid is the new way to indentify resources in Asana, however the current client implementation has only 'id' properties of type number.

Is it still ok to use the old 'id' field?
When will the JS client be updated to support the new 'gid' field?

[2019-07-10 18:18] praecipula commented on #179
You should be able to pass a string in where you previously passed an integer even without a new release, because I believe everywhere we were passed this integer we string format it anyway (because HTTP requests all are string based). For example, see https://github.com/Asana/node-asana/blob/master/lib/resources/gen/tasks.js#L71. You should just be able to put the value of the `gid` field in wher

[2019-07-10 18:18] #179 closed

[2019-07-10 21:59] SDP190 commented on #179
Thanks, appreciate your quick response

[2019-07-15 17:09] nairihar opened #182 "Asana deprecations"
Hi, is this library issue?

<img width="957" alt="Screen Shot 2019-07-15 at 9 08 46 PM" src="https://user-images.githubusercontent.com/15065065/61234694-d08c9680-a744-11e9-9650-672949cb4c7b.png">

[2019-07-15 18:37] rossgrambo commented on #182
Hi @nairihar,

I just updated our readme to explain how to work with [these warnings](https://github.com/Asana/node-asana/blob/master/README.md#options).

When you made a request to the Asana API and an upcoming deprecation affects the call, the API returns a Asana-Change header.

We decided to start surfacing these headers in our client libraries as warnings. So you will see one for each request

[2019-07-15 18:49] #177 closed

[2019-07-16 06:29] nairihar commented on #182
thanks, @rossgrambo for the info.

I've already set those headers. but when I'm trying to load projects it returns "new_sections" deprecation log.

[code]

Could you help to understand the issue for this case?

Because I think the library itself should fix the version related issues(I mean do the call to the other endpoint...).

[2019-07-16 08:02] nairihar commented on #182
Hi @rossgrambo thanks for the update, is there any other way to get the layouts for the projects?

[2019-07-17 06:27] nairihar commented on #182
@rossgrambo thanks for the info

[2019-07-17 06:27] #182 closed

[2019-08-20 00:46] euxn23 opened #188 "If I add type definition and migrate to TypeScript, would you review and merge?"
Now DefinitlyTyped provides `@types/asana`, but this library lack some response values...
So, I'd like to add type definitions to `node-asana` repository, how do you think?

[2019-08-22 19:24] rossgrambo commented on #188
Sure! If you're suggesting adding type definitions, then yes, I'd review and merge.

If you're suggesting we migrate the whole library to typescript, I'd be more skeptical, as it would be a big change. 😄

If you find that you need to make changes to the files in the gen/ folder, let me know, as those are generated from `asana-api-meta`, and the changes will need to be in that repo, and not this on

[2019-08-22 19:24] #188 closed

[2019-09-03 15:21] davidworkman9 commented on #182
There's a syntax error in the code example. For anyone that runs into this it should be:
[code]

[2019-10-03 02:56] lastpixelstudios opened #190 "Tasks findByProject(projectId, params), can't get any params to work"
Hello, I am trying to find all tasks on a project (which I can do), but it is only returning gid, name & resource_type. I wanted to know how the params work. I tried to add ['due_on'], which is what I need, but that doesn't seem to work. Do I have to make a separate call directly to the task?

I know when looking at the Asana API docs and testing the Tasks Explorer, you can add opt_fields to retur

[2019-10-03 20:24] rossgrambo commented on #190
You should be able to ask for the fields you want like this:

[code]

[2019-10-03 20:52] lastpixelstudios commented on #190
Brilliant! Thank you @rossgrambo it worked! My issue was not including "fields" within the params. I appreciate the solve and quick turnaround.

[2019-10-03 20:52] #190 closed

[2019-11-04 20:46] davinci0428 commented on #4
I need this. When will it happen?

[2019-11-13 04:02] atom-goliver opened #192 "Unsupported response type "token""
Trying to use the library (in a browser) with the oAuth method, I get the following error after my application sends the user to the Asana site to authorize the app...

### Error
```unsupported_response_type: The `token` response type is deprecated.```

If I change the "response_type" from "token" to "code" in the URL, the user can authorize the app and is redirected back correctly (even though I

[2019-11-20 00:19] rossgrambo commented on #192
Sadly, that response is correct. The oauth spec deprecated the `token` oauth flow (implicit grant), so we went ahead and deprecated it.

You'll have to setup a server to use the `code` flow. I'd recommend using a small Google Cloud Function or AWS Lambda, as they are easy & free (for a generous amount of traffic).

I'm pushing to allow client side authorization code flow (no server needed), but we

[2019-12-20 12:12] julioverissimo88 opened #194 "Create task not working"
Hi
I am trying to create task from API

let newTask = { name: "Minha Task", completed: true };

`
client.tasks.createInWorkspace(workspace_id, newTask).then((response) => {
    tasks = response.data;
    console.log(response);
}).catch(function (ex) {
    console.log(ex.message);
});
`

But, Not working for me. the code has no error but does not insert the task

[2020-03-05 20:48] cbroome opened #199 "Access 'getTaskCountsForProject' method"
I'm having trouble figuring out how to call this method. I'd assume it'd be off the projects object, but its not found.

I'm expecting the syntax to be something like this:
[code]

What's the proper way to access it?

[2020-03-05 21:06] rossgrambo commented on #199
Hmm that's concerning.

I'm able to get it to run using your snippet.
[code]

Perhaps you're not on the latest node-asana?

Try
[code]

[2020-03-05 21:10] rossgrambo commented on #199
Also, you'll get back an empty object unless you opt_fields into something ( see https://developers.asana.com/docs/#get-task-count-of-a-project ). My code looks like this:
[code]

[2020-03-06 13:59] cbroome commented on #199
I don't know what I'm doing wrong then. I tried deleting the npm cache, repulling and it still wasn't available. I tried pulling on a different laptop and it wasn't available. I tried doing a grep through the codebase and could not even find the string 'getTaskCountsForProject'.

[2020-03-06 20:28] rossgrambo commented on #199
You're onto something. I was able to repro it on a different computer. I'll look into it.

In the meantime, you can use the function contents (as the function is essentially just a wrapper for the path).

    asana.resources.Resource.unwrap(client.dispatcher.get("/projects/{project_gid}/task_counts", {opt_fields: "num_tasks"}, null))
        .then(function (data) {
            debugger;

[2020-04-02 23:03] rossgrambo commented on #199
Hey @cbroome ,

Thanks again for finding this. This should be resolved if you upgrade to asana@0.18.3.

Let me know if you have any issues with it!

Best,
Ross

[2020-04-02 23:03] #199 closed

[2020-04-02 23:07] rossgrambo commented on #194
I never saw this issue come by my inbox, so I apologize for not answering sooner.

If you upgrade to our latest version 0.18.3, you can set this:

[code]

Which should show you exactly what you're sending to Asana's API and exactly what the API is sending back.

Assuming asana's api is getting your request correctly, you should look into the response body for the gid. Then check if Asana has it by

[2020-04-02 23:07] #194 closed

[2020-04-02 23:08] #192 closed

[2020-04-03 14:06] cbroome commented on #199
Just in the nick of time, thanks for fixing this!

[2020-04-05 07:31] allthingsclowd commented on #192
Hi Ross,

Any chance of providing an example blog of how these `easy proxy services` can be setup to achieve the suggested work-around?

Many thanks,
Graham

[2020-04-07 23:24] rossgrambo commented on #192
Hey @allthingsclowd ,

Here's a walkthrough I created that uses Google Cloud Functions and implements an extra secure layer called pkce. https://github.com/Asana/devrel-examples/tree/master/javascript/pkce_oauth

You're the first person I'm sharing it with, so I'm sure there are issues/things I missed. Don't hesitate to ping me and/or create an issue in that repo for any problems you have!

Hope t

[2020-04-08 16:34] oltreseba opened #202 "[Question] Batch API"
Is it possible to use the batch API with this page? If yes, how?

It looks like there is some code for that, but it's not actually in use.

[2020-04-08 21:52] rossgrambo commented on #202
You're totally right. I added it into our tooling, but didn't manually add the "resource" of batchAPI.

Upgrade to 0.18.4 and you can use batch like this:

[code]

[2020-04-08 21:52] #202 closed

[2020-04-28 16:10] henriqueweiand opened #203 "Get tasks per section?"
I searching a method for the return all tasks per  sections, the library has feature?

Example: https://app.asana.com/api/1.0/sections/GID_SECTION/tasks

[2020-04-28 16:20] henriqueweiand commented on #203
found it!

[code]

[2020-04-28 16:20] #203 closed

[2020-05-04 17:19] PaulMougel commented on #4
FYI,  [this link](https://forum.asana.com/t/cant-figure-out-how-to-upload-attachments-using-node-asana/73017/11) mentions a way to do it by using the raw dispatcher object:
[code]

Hope that's helpful!

[2020-05-04 17:47] rossgrambo commented on #4
Thank you @PaulMougel !

[2020-05-04 17:47] #4 closed

[2020-07-05 22:51] jhoch opened #205 "Storing new access tokens"
I am in my first day or two of using `node-asana`.  First off, thanks for releasing and maintaining this SDK.

The way that I am invoking the Asana client, I am fetching a refresh and access token out of my database, per user request.  This client correctly handles expired access tokens, which is great, because my requests succeed.  However, the new access token is never stored in my DB, and so if

[2020-07-05 22:56] jhoch commented on #205
I just saw this pull request with the same idea: https://github.com/Asana/node-asana/pull/139/files.  The PR is 3 years stale but the diff is very small.  I would be happy if it were released.

Let me know if help from my end would speed this along (or get in the way!), and thanks again!

[2020-07-07 17:16] rossgrambo commented on #205
Thanks for pointing out this use case and showing me the PR. I tested the PR and it lgtm, so I went ahead and merged it. I'll do a new version deploy on ~friday and this will be included.

[2020-07-07 17:16] #205 closed

[2020-07-19 22:18] NielsKersic opened #207 "Incorrect type definition for Tasks.CreateParams"
The TypeScript definition for `Tasks.CreateParams` is incorrect. The definition looks like this now:

[code]

This means that `name` is a required field, which is not actually the case. Also updating other top level properties of tasks, like `due_on` will result in an "Argument of type x not assignable to parameter of type 'CreateParams'"

I wouldn't mind creating a PR, but I am unsure which prope

[2020-07-20 20:07] rossgrambo commented on #207
Hey @NielsKersic ,

I was unaware that we offered types for this. Could you point me to the file where these are defined?

[2020-07-20 20:19] NielsKersic commented on #207
@rossgrambo These are actually in the [@types/asana package](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/asana/index.d.ts), but seeing as that is created and maintained by a third party, I should have posted my issue there. Apologies!

[2020-07-20 20:24] rossgrambo commented on #207
Oh! We should either take over that library or offer types within this one. It would be fairly low hanging fruit for us as we are generating all of this from a static typed context anyway. I'll make a task for us to look into it. Thanks!

[2020-07-20 20:24] #207 closed

[2020-07-29 15:14] AlexRoy96 commented on #115
thank you so much for this thread, was looking for a solution for forever

[2020-08-02 15:35] NielsKersic opened #210 "Concurreny Rate Limit Enforced: retryAfterSeconds is NaN"
I'm updating all subtasks of a main task concurrently using `client.tasks.updateTask()`. For large tasks, this means I hit the rate limit for 15 concurrent writes. However, in the returned error, the `retryAfterSeconds` property is equal to NaN.

[2020-08-03 20:08] rossgrambo commented on #210
I believe this is intentional. This field is intended for the requests per minute rate limits, and will show a value there when applicable.

For concurrent requests, we would have to track each of your requests and estimate the duration of each to find the lowest one. This isn't something that the API has built into it, so you're better off using a queue or a library that will limit your concurren

[2020-08-03 20:08] #210 closed

[2020-08-15 23:25] meliodev opened #213 "node-asana not working with react native"
Hello, I tried node-asana within a react native project but it didn't work.

[2020-08-17 17:05] rossgrambo commented on #213
Hello @meliodev,

What is the error that you're getting?

[2020-08-17 18:02] rossgrambo commented on #213
Hey @meliodev ,

I went ahead and tested anyway. Everything works as expected for me. I did:

1. `npm install -g expo-cli`
2. `expo init AwesomeProject`
3. `cd AwesomeProject`
4. `npm install asana`
5. Change app.js to:
[code]
6. `npm start`
7. See console logs.

Both a raw request to the API works, and the node-asana library worked for me. Let me know if you're experiencing something different!

[2020-08-17 18:07] rossgrambo commented on #213
I'm going to close this, but I'm happy to reopen if we need to!

[2020-08-17 18:07] #213 closed

[2020-08-17 18:22] meliodev commented on #213
Thank you for your reply ! Your answer helped. Now it works.

[2020-11-06 15:34] krystianolech opened #218 "Impossible to use oAuth with fixed refresh_token"
Hi!
I'm working on server-side usage of node-asana which need to write some data in Asana. In my case users of the app are not asana users, and all actions in asana should happen as some sort of technical user.

Based on recommendations I tried to use oAuth flow. As in my case, any user interaction to login is not possible and this library does not allow to authenticate using login and password, I

[2020-11-06 18:16] rossgrambo commented on #218
Hello @krystianolech !

If your app is only for a few workspaces, you could use a PAT for the technical user instead (one for each workspaces). PATs are much simpler than setting up oauth, and make a lot of sense for admin-y type functionality.

However, if you want to publish this app for multiple people/workspaces to use, you'll need oauth. Implementing server side oauth means the command line y

[2020-11-09 09:29] krystianolech commented on #218
@rossgrambo you are right, I'm fine with PAT for my use case. However, any way I would recommend to take a look at the issue I reported as it looks that there might be some bug with documentation, as the example provided there (with providing refresh_token to refresh_token method)  is not working as expected

[2020-11-09 17:50] rossgrambo commented on #218
Thanks @krystianolech, I'll make task to re-evaluate that example.

[2020-11-09 17:50] #218 closed

[2020-12-01 19:36] rv-vmartyniuk opened #219 "Request Timeout is not propagated to the Dispatcher"
The problem is in the Client `create` method where the `requestTimeout` is mapped to the `timeout` property. However, Dispatcher refers to the `requestTimeout` instead of `timeout`.

[code]

[2020-12-02 21:34] rossgrambo commented on #219
Thank you @rv-vmartyniuk !

You're absolutely right. I'll include this fix in the next deploy.

[2020-12-03 13:52] rv-vmartyniuk commented on #219
@rossgrambo thank you for the update. Also, I've just noticed that the `retryOnRateLimit` property is not propagated down to dispatcher either. This is very critical part for our enterprise as we perform a several hundreds complex searches in one batch process and obviously we hit rate limit of 60 requests/minute.

Can you please let us know also the estimated date for the next deploy so we can do

[2020-12-04 20:10] shi-yan opened #220 "client.attachments.createAttachmentForTask is not a function"
followed

https://developers.asana.com/docs/upload-an-attachment

[code]

got
[code]

[2020-12-04 21:57] rossgrambo commented on #220
Hello @shi-yan !

I'm the person to blame for that. Basically, we generate those samples from our OpenAPI spec, but the auto-generation for creating attachments is not correct (as it has to be a special case for each client library).

You'll likely want to use something like:

[code]

( Stolen from https://github.com/Asana/node-asana/issues/4 )

Let me know if you still have any issues, and I'll t

[2020-12-06 21:54] eboody opened #221 "Cannot read property 'getCustomFieldsForWorkspace' of undefined"
Hey there!

For some reason, I'm not able to use the getCustomFieldsForWorkspace function to work for me.

Here is example-code that gives me the same error ↓

[code]

And this is the error I get ↓
[code]

I used the client object to get the workspaces and it worked fine, so when the error says that `client.customfields` is `undefined` I'm left scratching my head as to why `customfields` is missin

[2020-12-07 03:00] eboody commented on #221
I was able to get the data like this ↓ but my code would be a lot easier for me to read if I could do it with the pretty code laid out in the documentation.

[code]

[2020-12-07 04:39] eboody opened #222 "Can't update task"
Hey!

Taking a super simple example, Let's say I'm just trying to change the assignee. I made sure the user GID is correct and this indeed returns the task but nothing actually changed.

[code]

[2020-12-07 19:04] rossgrambo commented on #222
Hello @eboody !

If you're using our client library, you don't need to include the "data" wrapper. Meaning your code should look like:

[code]

Hope this helps :)

[2020-12-07 19:04] #222 closed

[2020-12-09 23:12] eboody commented on #222
Thanks @rossgrambo !!

[2020-12-15 15:16] emptydriptray commented on #221
I'm encountering the same issue

[2021-01-24 22:51] mblais commented on #127
Great idea, but keep in mind that GAS is still single-threaded.

[2021-02-26 18:33] #219 closed

[2021-02-26 18:41] rossgrambo commented on #219
For the retryOnRateLimit, this should happen automatically within rate_limit_enforced.js as the API returns a retry-after header. Are you saying that functionality is broken?

[2021-03-15 20:04] niallel opened #228 "React-native"
Hi,

I saw a previous issue #213 where there was an example about the library working on react-native.

I've tried the example (using expo) and also with npx react-native init but get a lot of unsolved modules.
For example:

`Unable to resolve module util from AwesomeProject/node_modules/asana/lib/errors/forbidden.js: util could not be found within the project.`

Any ideas? Or is it best not to us

[2021-03-15 20:50] rossgrambo commented on #228
Hello @niallel !

The normal fix to that is `npm install` within the folder to pull down all of the modules.

Assuming you've done that, if following the tutorial in #213 didn't work for you, I'm guessing it's because your node version is different than what I'm using or react-native has changed significantly since I wrote that.

I'm on Node v10.15.1

Sadly, I can't see that error locally so I don

[2021-03-15 23:04] niallel commented on #228
Thanks for the quick reply. Unfortunately running npm install in the node_modules/asana directory didn't work.
It seemed to get further though, but now fails on finding the fs module, which is obviously a build in node module and not in react-native.

I'll use the http api instead.

Thanks again,

[2021-03-15 23:04] #228 closed

[2021-05-16 08:17] AvivonCtrl opened #235 "Service worker compatibility (fetch vs request)"
Hey guys
request-npm is deprecated, mainly because it uses XMLHttpRequest which is no longer supported in Service Workers which is now the background page of Chrome Extensions.

Are there any plans of migrating request to fetch to keep up with JS standards? :)

[2021-05-18 10:41] jimmywarting commented on #235
Use fetch (and node-fetch) instead of request

[2021-05-20 08:49] AMontagu opened #236 "Data from Asana client not send when using refresh_token"
Hello !

In the [doRequest](https://github.com/Asana/node-asana/blob/master/lib/auth/app.js#L11) methods you pass directly params to request module.

Or request when used directly expect a from attribute to send the data. And you pass it a formData attribute from [accessTokenFromCode](https://github.com/Asana/node-asana/blob/master/lib/auth/app.js#L95) and [accessTokenFromCode](https://github.com/

[2021-06-11 13:41] AMontagu commented on #236
@rossgrambo

[2021-06-14 22:09] #236 closed

[2021-06-14 22:12] aw-asana commented on #236
Hey @AMontagu, thanks for checking in. The PR's been resolved, and it'll all be deployed (along with other updates) in an upcoming release. Feel free to reach out if you run into any other issues along the way.

[2021-06-15 09:14] AMontagu commented on #236
Thank you @aw-asana. Have you an estimated date for the upcoming release ?

[2021-07-01 08:33] p32929 opened #238 "Asana API requests blocked by CORS policy"
![Screenshot (24)](https://user-images.githubusercontent.com/6418354/124092941-3335e480-da79-11eb-8097-710912399b5b.png)

[2021-07-22 18:03] davetbo-amzn opened #239 "invalid_request: The `redirect_uri` parameter does not match a valid url for the application."
Hello,

I'm trying to use your chrome extension example and I'm getting this error. I see your oauth chrome example is marked as TODO. Does this mean that it's not currently working? Or should the code there work if I do npm install and then gulp? Note that I had to change the gulp file so that it would work with Gulp4 (using gulp.series in places) and it seemed to only work after I reordered the

[2021-08-31 17:00] blamine81 opened #243 "Asana is not returning all tasks of a Project using API"
I'm developing an integration with Asana where I need to get all tasks of a Project.

Sometimes it works, and sometimes it doesn't return all the tasks and I don't get any error.

Here is a piece of code:

[code]

[2021-09-01 10:18] blamine81 commented on #243
I m receiving this error (not all the time) :

[code]

[2021-09-19 16:37] simllll commented on #119
Well some time passed, is there anything going on regarding official types? the types from @types/asana are more than wrong/broken.

[2021-09-19 16:40] simllll commented on #119
Well I think it's quite easy to generate your own clien twith typecsript definitions :-)

`openapi-generator-cli generate -p apiPackage=apipkg -p modelPackage=modelPkg -p withSeparateModelsAndApi=true -p modelPropertyNaming=original -p supportsES6=true -i https://raw.githubusercontent.com/Asana/developer-docs/master/defs/asana_oas.yaml -g typescript-axios -o src/AsanaClient --skip-validate-spec &&

[2021-09-19 19:21] simllll opened #244 "typescript definitions - howto"
this should just be a hint for everyone who is looking for complete and (almost) valid type definitions,
currently @types/asana is incomplete and partly wrong, the best and easiert workaround I've found is to generate your own api client via open api files.
e.g. you can go to editor.swagger.com and download your client, or by using the following command:

`openapi-generator-cli generate -p apiPack

[2021-10-15 10:30] GioSensation commented on #220
Thanks, the suggested workaround did it. The docs still suggest `client.attachments.createAttachmentForTask`, isn't there an official API for this?

[2021-11-29 16:06] AMontagu opened #247 "Deploy new version on npm"
Hello,

It seem there is 5 patch behind on the npm repository. Can the new release can be push ?

[2021-12-03 20:31] tkmorrison commented on #221
The documentation has a capitalization error "client.customFields" instead of "client.customfields" should work.

[2022-01-22 14:05] alexnitta commented on #244
@simllll - This was super helpful, thank you.

As a note to anyone else coming across this, steps I took to solve the problem:

1. Run `npm install -d @openapitools/openapi-generator-cli`
2. Add a package.json script called `generate-asana-apis` containing: `openapi-generator-cli generate -p apiPackage=apipkg -p modelPackage=modelPkg -p withSeparateModelsAndApi=true -p modelPropertyNaming=original

[2022-01-22 14:23] apiology commented on #244
For what it's worth, I also took a crack at improving the official definitions, at least for the issues that were impacting me.  The process to improve those is well defined and documented in the DefinitelyTyped repo, if a bit slow on the approval side due to lack of types/asana maintainers: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/57226

[2022-01-24 11:42] hiroshinishio opened #248 ""Property 'getTasks' does not exist on type 'Tasks'. Did you mean 'getTask'?" but WHY??"
Code is here, probably not complex. This code is just hitting the API to get the tasks of a certain worker in a certain workspace in Asana.

[code]

First error says;

Then I followed this error and then second error happens and says;

Indeed, if I looked at the referenced index.d.ts(2060, 13), there are no getTasks instead of getTask. However, the official documentation (https://developers.asana.

[2022-02-14 15:48] Naeem775 commented on #220
@rossgrambo-zz  hi, is there a way i can attach two files? i only can one and if i try to attach two files it only attach one and ignore the other one, i would appreciate any help, thank you

[2022-02-25 02:16] kotazuck opened #252 "Resource `Goals` is not exported?"
Why isn't there `goals.js` in `lib/resources`. There is `goals.js` in `lib/resources/gen`.
I am not english speaker. so I'm sorry for my poor English.

[2022-03-26 05:35] slobak opened #255 "Module can't be built in `create-react-app` project because of missing polyfills in webpack >5"
I assume the compiled browser version of this library is still usable, but including this module in builds (e.g. for a Typescript project) is now not possible out-of-the-box because it requires polyfills that webpack v5 no longer supplies by default.

**Steps to reproduce**
1. Create a new app that builds a browser bundle with webpack, e.g. `create-react-app`
2. `npm install asana` into the projec

[2022-03-28 16:36] miso-belica opened #256 "The `Asana.auth.PopupFlow` does not work"
Hello there :)

I have an issues with the OAuth authentication method in the browser. I would like to authenticate different users in the browser to use [Asana API](https://developers.asana.com/docs/oauth). I need to do this because I would like to create tasks in Asana and have the users as the authors of the tasks. I use the code from https://github.com/Asana/node-asana/blob/0847653c98660e6f3e07

[2022-04-08 07:17] llravelo commented on #247
Hi, any updates on this?

[2022-04-08 07:18] llravelo commented on #235
Hi guys, do you have any plans to migrate to node-fetch this year?

[2022-04-26 23:05] DaveMadden commented on #220
@rossgrambo-zz FYI the docs STILL say this...

[2022-05-06 01:34] gurpreetatwal commented on #247
I just mentioned this issue on the Asana forum as well, hopefully that will gain some traction :)

https://forum.asana.com/t/a-new-api-for-project-templates/156432/10?u=gurpreet_atwal

[2022-05-30 20:45] apiology commented on #244
Another round of improvements is going in soon: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/60589

[2022-06-13 13:51] vdechef commented on #133
I encountered the same problem yesterday.
In case someone stumble upon this, the workaround I found was to provide a prompt in options. This prompt is a function that simply throws an error:

[code]

[2022-07-20 06:35] adshrc opened #268 "Project Templates missing"
Hi,

i just realized that in the current version (1.0.0) ProjectTemplates is not exported properly. It's not possible to access it through the client, but there is a project_templates.js. Looks like someone forgot to add it to the index.js file.

Currently it is not usable.

[2022-07-20 07:13] adshrc commented on #268
In case somebody is searching for a workaround:

[code]

[2022-08-11 16:11] kamicut opened #269 "webhooks.create vs webhooks.createWebhook"
I was unable to create a webhook using the `webhooks.createWebhook(params)` call. I was getting an `invalid request` error, even with the shape of data according to the [documentation](https://developers.asana.com/docs/establish-a-webhook#establish-a-webhook)

[code]

**error**:
[code]

Looking into the tests and internal code of this library, I found `webhooks.create(resource, target)` https://gi

[2022-09-23 13:42] sascha-monville opened #270 "deprecated dependency: request"
any chance this might be replaced anytime soon?

[2022-10-14 20:04] terryjiang2020 commented on #269
From the latest SDK, it seems `webhooks.createWebhook` and `webhooks.create_webhook` are both removed and replaced by `webhooks.create`. Similar things happen to other related functions like `webhooks.getWebHook`. I do think the doc needs to be updated.

[2022-10-14 20:06] terryjiang2020 commented on #248
It is probably a typo or outdated content in the doc. The same thing happens to webhook-related content. For anyone who is struggling with the doc, I think at the moment you might need to find the way out by viewing the code inside the module rather than keep reading docs.

[2022-10-19 10:05] mhyk opened #271 "Response from a request is asking to authorize application"
Sometimes the response from a request will ask to authorize the application even if the application has been authorized or the access_token has recently been renewed.
[code]

[2022-11-03 10:55] dwelch2344 opened #272 "client.tasks.findAll is deprecated"
Following along with the example on the README and noticed I'm getting a deprecation warning.

[code]

  Produces the warning:
[code]

Looks like its been a few years since the change was announced, but I'd imagine the library should have a way to adapt (or comment about ignoring/disabling warning)

[2022-11-05 03:24] apiology commented on #235
I created a little ad-hoc polyfill and substitute it in using webpack.  It seems to work for my need.  Maybe it'll be helpful for others: https://github.com/apiology/upvoter-for-asana/commit/7d4ca40fba9943089c88f20a00b7b089ce300295